{% extends 'layout.html'%}

{% block body %}
  <h1><br>Dashboard: <small>Welcome {{session.username}}</small></h1>
  <br>
  <br>
  <a type="button" class="btn btn-primary btn-lg btn-block" href="/add_isp_template"> Create Your Template </a>
  <hr>


  <th> <p style="font-size:30px; color:#095b61; font-weight:bold;">History Record</p></th>
  <br>
  <table class="table table-striped">
  <tr>
    <!-- <th>ID</th> -->
    <th>Agency</th>
    <th>Site Code</th>
    <th>Device Model</th>
    <th>Device Name</th>
    <th>Date</th>
    <th></th>
    <th></th>
  </tr>
  {% for switch in sw_templates %}
    <tr>
      <!-- <td>{{switch.id}}</td> -->
      <td>{{switch.agency}}</td>
      <td>{{switch.site}}</td>
      <td>{{switch.model}}</td>
      <td>{{switch.ci_name}}</td>
      <td>{{switch.create_date}}</td>
      <td><a href="edit_sw_template/{{switch.id}}", class="btn btn-info pullright">Edit</a></td>
      <td>
        <form action="{{url_for('delete_switch', id=switch.id)}}", method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input type="submit" value="Delete" class="btn btn-danger">
          <!-- <a href="delete.php" onclick="return confirm('Are you sure you want to delete this item?');">delete</a> -->
        </form>
      </td>
    </tr>
  {% endfor %}
  </table>


{% endblock %}
